* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  _font-family: "Josefin Slab", serif;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
body {
  max-width: 80ch;
  --primary-color: #ffb549;
  --primary-light: #ffc062;
  --success: #a3db33;
  --error: #ed3221;
  --warn: #ffc642;
  --bright: #f2f2f3;
  --grey: #c8cdd0;
  --dark-grey: #415058;
  --dark: #1f292e;
  margin: 0 auto;
  background-color: var(--bright);
  color: var(--dark);
}
*::selection {
  background-color: var(--primary-light);
}
main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Slab", serif;
}

/*SPECIFIC STYLING*/
.main-header {
  justify-content: center;
}
.main-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.emphasise {
  color: var(--primary-color);
}
.main-heading,
.main-subheading {
  font-family: "Josefin Slab", serif;
  display: inline;
}

/*GRID LAYOUT*/
.grid-layout {
  display: grid;
  grid-auto-rows: minmax(4rem, auto);
}
.grid-layout > div {
  _border: 1px solid hotpink;
  background-size: cover;
  display: flex;
  align-items: flex-start;
}

.grid-layout {
  grid-template-columns: repeat(8, 1fr);
}
.grid-layout .grid-nav {
  grid-column: 0/2;
  grid-row: span 6;
}
.grid-layout .grid-content-main {
  grid-column: 2/9;
  grid-row: span 6;
}
.grid-layout .grid-content-side {
  grid-column: 1/-1;
  grid-row: span 3;
}
.grid-layout .grid-footer {
  grid-column: 1/-1;
  grid-row: span 4;
}

.main-nav {
  display: flex;
  flex-flow: column;
}
.main-nav a {
  margin: 0.5rem 0.2rem 0.5rem 0;
  padding: 0.4rem 1rem 0.2rem 0.5rem;
  border-left: dotted 3px var(--primary-color);

  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Josefin Slab", serif;
  color: var(--dark);
  text-decoration: none;
  transition: border-left 0.5s, background-color 0.5s;
}

.main-nav > a:hover {
  _margin-left: 0.0125rem;
  border-left: dotted 3px var(--bright);
  background-color: var(--primary-light);
  transition: border-left 0.5s, background-color 0.5s;
}
a:hover::first-letter {
  _color: var(--primary-color);
}

.content-heading {
  margin: 0;
  padding: 0.9rem 0 0 0;
  border-bottom: dotted 2px var(--primary-color);
}
.content-wrapper {
  margin-bottom: 1rem;
}
.grid-content-side {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.side-wrapper {
  margin: 2rem 3rem 2rem 1rem;
  padding-right: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.side-wrapper-mobile {
  display: none;
}
.side-wrapper img {
  height: 30%;
  width: 40%;
  padding: 0 auto;
  margin: 0 auto;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}
.side-wrapper img:hover {
  opacity: 1;
}

.imglink {
  width: 3.8rem;
  position: relative;
  padding: 0.35rem 0.4rem 0 0.3rem;
  left: 10rem;
  top: 14.7rem;
  height: 1.4rem;
  color: var(--dark);
  font-weight: bold;
  font-size: 0.9rem;
  font-family: "Josefin Slab", serif;
  text-decoration: none;
  border-left: dotted 2px var(--primary-color);
  transition: 0.25s ease-in-out;
}
.imglink:hover {
  background-color: var(--primary-color);
  transition: background-color 0.5s;
}
.side-heading {
  margin-left: 2rem;
  padding: 0.5rem 0.5rem 5.5rem 0.5rem;
  border-left: dotted 3px var(--primary-color);
  height: 3rem;
}
/*CONTACT*/
.contact-form {
  _border: 1px solid hotpink;
  display: flex;
  grid-auto-flow: column;
  height: auto;
  font-size: 0.8rem;
}
.contact-form > * {
  display: flex;
  flex-flow: column;
  max-width: 80ch;
  min-width: 50ch;
  resize: none;
}
textarea {
  resize: none;
  width: 100%;
  height: 8rem;
}
.message {
  resize: none;
}
.contact-label {
  padding: 0.25rem 0.25rem 0.125rem 0;
}
.contact-button {
  margin-top: 0.25rem;
  background-color: var(--grey);
  transition: background-color 0.25s ease-in-out;
}
.contact-button:hover {
  background-color: var(--success);
  transition: background-color 0.25s ease-in-out;
}
.contact-list {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 0;
}
.contact-list li {
  height: 4rem;
  width: auto;
}
.contact-list img {
  height: 80%;
  width: auto;
}
/*CV*/
.side-nav {
  display: flex;
  flex-flow: column;
}
.side-nav a {
  font-size: 0.9rem;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin-left: 1rem;
  padding: 0.125rem 0.25rem 0.125rem 0.5rem;
  transition: 0.25s ease-in-out;
}
.side-nav a:hover {
  background-color: var(--primary-light);
}
.article-heading {
  border-bottom: dotted 1.5px var(--primary-color);
}
.section-heading {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  _border-left: 1px dotted var(--primary-color);
}
.section-heading {
  margin: 1rem 0.5rem 0 0;
}

.section-heading > p {
  font-size: 0.7rem;
  margin: 1rem 0.5rem 0 0;
}
.content-section {
  border-left: dotted 1px var(--primary-color);
  padding-left: 0.4rem;
  _margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.content-wrapper:last-child {
  _border-bottom: 2px dotted var(--primary-color);
}
.content-link {
  color: var(--dark);
  font-weight: bold;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary-color);
  transition: 0.25s ease-in-out;
}
.content-link:hover {
  color: var(--primary-color);
}
.exp-p {
  font-size: 0.8rem;
  padding-left: 0.25rem;
}

/*SKILLS*/
.flexContainer {
  display: flex;
  _background-color: lightgrey;
}
.flexContainer p {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-left: 0.125rem;
  color: var(--dark);
}
.flexContainer > div {
  width: 50%;
  _background-color: lightgrey;
  margin: 2px;
  padding: 0.25rem 0.5rem 0.25rem 0rem;
}
.skillContainer {
  width: 100%;
  _background-color: lightgrey;
}
.skills {
  border: 0.5px solid var(--bright);
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.125rem;
  color: white;
  padding-right: 4px;
}
.skillContainer > * + * {
  margin-top: 3px;
}
/*
SOFT-SKILLS
*/
.german {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.english {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}
.teamwork {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.flexibility {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}
.teachability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.communicativity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}
.indenpendency {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.empathy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}

/*
TECH-SKILLS
*/
.html {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.css {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}
.java {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.typespeed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}
.js {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.python {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}
.sql {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  padding-bottom: 4px;
  background-color: var(--primary-color);
}
.erp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  padding-bottom: 4px;
  background-color: var(--primary-light);
}

/*Showroom*/
.old-showroom {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.slider-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.slider-btn-wrapper > * {
  width: 50%;
}
.slider-btn {
  border: 0.5px solid var(--bright);
  background-color: var(--bright);
  color: var(--dark);
  margin: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: 0.4s ease-in-out;
}
.slider-btn:hover {
  border: 0.5px solid var(--primary-color);
}
.slides {
  border-radius: 0.25rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*BETA*/
.card-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("background.jpg");
  background-size: cover;
  overflow: hidden;
}
.card {
  display: grid;
  grid-template-columns: 11rem;
  grid-template-rows: 8rem 10rem 1rem;
  grid-template-areas: "image" "text" "stats";
  border-radius: 1.5rem;
  background: #f2f2f3;
  color: #1f292e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  cursor: pointer;
  margin: 1rem;
  transform-style: preserve-3d;
  transform: perspective(80ch);
  transition: 0.5s ease-in-out;
}

.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff804a 0%,
      #ff8749 10%,
      #ff8f49 20%,
      #ff8f49 30%,
      #ff9e49 40%,
      #ffa649 50%,
      #ffb549 60%,
      #e5a663 70%,
      #d89e70 80%,
      #be8f8a 90%,
      #b18797 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -0.2rem;
  border-radius: 1.5rem;
  filter: blur(0.5rem);
  transform: translateZ(-0.125rem); /*or z-index */
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.js-tilt-glare {
  border-radius: 1.5rem;
}
.card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),
    url("https://picsum.photos/300/200");
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}
.card-stats .value sup {
  font-size: 12px;
}
.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/*card2*/
.card-image.card2 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),
    url("https://picsum.photos/300/400");
  background-size: cover;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}
.card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
  background: rgb(255, 77, 7);
}
/*card3*/
.card-image.card3 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),
    url("https://picsum.photos/400/500");
  background-size: cover;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}
.card-stats.card3 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card3 {
  background: rgb(0, 189, 63);
}

@media screen and (max-width: 478px) {
  html {
    font-size: 15px;
  }
  .side-wrapper-mobile img {
    height: 20%;
    width: 30%;
    padding: 0 0 0 2rem;
    margin: 0 0rem 0 2rem;
  }
  .content-subheading {
    font-size: 0.7em;
  }
  .section-heading {
    font-size: 1.1em;
    flex-flow: column;
    margin-top: 0;
  }
  .section-heading > p {
    font-size: 0.9em;
    margin: 0.25rem 0.5rem 0 0.25rem;
  }
  .section-heading > p::before {
    content: " - ";
  }
  .section-subheading {
    margin: 0;
  }
  .section-subheading > p {
    margin: 0;
  }
  .exp-p {
    font-size: 0.8em;
  }
  .content-p {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 578px) {
  .skills p {
    font-size: 0.7rem;
  }
  .contact-form > * {
    display: flex;
    flex-flow: column;
    max-width: 45ch;
    min-width: 30ch;
    resize: none;
  }
  .content-p {
    margin-right: 1rem;
  }
}
@media print {
  .main-nav {
    display: none;
  }
}
@media screen and (max-width: 456px) {
  .skills p {
    font-size: 0.5rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 17px;
  }
  .main-heading {
    padding-left: 0.5rem;
  }
  .main-subheading {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
  }
  .main-nav {
    padding-left: 0.5rem;
  }
  .content-wrapper {
    padding-right: 0.5rem;
  }
  .side-wrapper {
    display: none;
  }
  .grid-content-side {
    margin: 1rem;
  }
  .side-wrapper-mobile {
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5rem;
  }
  .side-wrapper-mobile img {
    height: 50%;
    width: 60%;
    padding: 0 auto;
    margin: 0 auto;
  }
  .side-heading {
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    padding: 0.5rem 0rem 0rem 0rem;
    border-left: none;
    border-bottom: 2px dotted var(--primary-color);
  }
  .imglink {
    position: relative;
    padding: 0.35rem 0.4rem 0 0.3rem;
    left: 2rem;
    top: 1.7rem;
    height: 1.4rem;
    color: var(--dark);
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Josefin Slab", serif;
    text-decoration: none;
    border-left: dotted 2px var(--primary-color);
    transition: background-color 0.5s;
  }
}
